  .el-form-item {
    margin-bottom: 15px!important;
  }
  .el-form-item:nth-last-child(1) {
    margin-bottom: 0px!important;
  }
  .color-context {
    list-style: none;
    width: 130px;
    height: 130px;
    padding: 6px 2px 2px 6px;
    margin: 0;
    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 99;
  }
  .color-context li {
    padding: 0 4px 4px 0;
  }
  .color-context li {
    float: left;
  }
  .color-context li a {
    width: 20px;
    height: 20px;
    display: block;
  }
  .color-context .clear {
    width: 100%;
  }
  .color-context .clear a {
    width: 100%;
  }
  .el-popover.el-popper.popover .popper__arrow {
    display: none;
  }
  .el-popover__reference {
    height: 94%;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #dfdfdf;
  }
  .pop-select-import-panel .el-select-dropdown__item {
    font-size: 0.785rem;
  }
  .pop-import-panel::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* background-color: #8A8A8A80; */
  }
  .pop-import-panel::-webkit-scrollbar-button {
    display: none;
  }
  .pop-import-panel::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    border-radius: 5px;
  }
  .mainTabs .el-tabs__content:hover {
    overflow-y: auto;
  }
  .mainTabs .el-tabs__content::-webkit-scrollbar {
    width: 5px;
  }
  .mainTabs .el-tabs__content::-webkit-scrollbar-button {
    display: none;
  }
  .mainTabs .el-tabs__content::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    border-radius: 5px;
  }
  .header .dropdown .el-dropdown {
    font-size: 0.85rem;
  }
  .pop-header-el-dropdown {
    overflow-y: auto !important;
    max-height: 80vh;
  }
  .pop-header-el-dropdown::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .pop-header-el-dropdown::-webkit-scrollbar-button {
    display: none;
  }
  .pop-header-el-dropdown::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 5px;
  }
  .search .el-autocomplete {
    width: 100%;
  }
  .el-input-number{
    line-height: 32px !important;
  }
  .el-input__inner{
    height: 32px !important;
    color: #fafafa !important;
  }

.el-pager li {
  height: 32px !important;
  line-height: 32px !important;
}
.el-input-number.is-controls-right .el-input-number__decrease, .el-input-number.is-controls-right .el-input-number__increase{
  line-height: 16px!important;
}
.el-input__icon{
  line-height: 1!important;
}
input.el-input__inner::-webkit-input-placeholder {
  color: rgba(107,107,107,1);
}
.el-input__inner{
  background-color: rgba(58,58,58,1)!important;
  border: 1px solid rgba(93,93,93,1)!important;
}
.el-input__inner:focus {
  border: 1px solid rgba(2,179,252,1)!important;
}
.el-input-number.is-controls-right .el-input-number__increase{
  border-bottom: 1px solid rgba(93,93,93,1)!important;
}
.el-input-number__increase{
  border-left: 1px solid rgba(93,93,93,1)!important;
}
.el-input-number__decrease, .el-input-number__increase{
  background:rgba(73,73,73,1)!important;
  color: #C0C4CC!important;
}
.el-input-number.is-controls-right .el-input-number__decrease{
  border-left: 1px solid rgba(93,93,93,1)!important;
}
.el-input-number__decrease:hover{
  color: rgba(2,179,252,1)!important;
}
.el-input-number__increase:hover{
  color: rgba(2,179,252,1)!important;
}
.el-select .el-input.is-focus .el-input__inner  {
  border-color: #409EFF!important;
}
